<div id="map-canvas">
	<script>
		display_map();
	</script>
	<%= render :partial => 'pins', :collection => @entrances, :as => :entrance %>
</div>

<div class="sidebar">
	<ul>
	<% @lines.each do |line| %>
		<li><%= line.name %></li>
	<% end %>
	</ul>
</div>