<div id="map-canvas">
	<script>
		display_map();
	</script>
	<%= render :partial => 'pins', :collection => @entrances, :as => :entrance %>
</div>

<div id="search-form">
	<div class="search-form-inner">
		<%= form_tag '/search', :id=> 'search-box', :remote => true do %>
			<%= text_field_tag 'query' %>
		<% end %>
	</div>
</div>