.get-data-button {
	width: 400px;
	margin: auto;
}

.get-data-button input {
	background: #178EBD;
	color: white;
	height: 200px;
	width: 400px;
}

#map-canvas {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 0;
}

.sidebar {
	background: rgba(255,255,255,.7);
	border-left: 1px #aaa solid;
	bottom: 0;
	overflow: scroll;
	position: absolute;
	right: 0;
	top: 0;
	width: 20%;
	z-index: 100;
}

.hidden {
	width: 5%;
}