.get-data-button {
	width: 400px;
	margin: auto;
}

.get-data-button input {
	background: #178EBD;
	color: white;
	height: 200px;
	width: 400px;
}

#map-canvas {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 0;
}

.sidebar {
	background: rgba(255,255,255,.7);
	border-left: 1px #aaa solid;
	bottom: 0;
	overflow: scroll;
	position: absolute;
	right: 0;
	top: 0;
	width: 20%;
	z-index: 30;
}

.hidden {
	width: 5%;
}

#search-form {
	background: rgba(0,0,0,.5);
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 50;
}

#search-form .search-form-inner {
	margin: auto;
	padding-top: 200px;
	width: 807px;
}

#search-form input {
	font-size: 72px;
	opacity: .6;
}